.login {
    height: 760px;

    .form {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        margin-right: 5rem;
        padding: 30px;
        border-radius: 10px;
        width: 500px;
        button{
            width: 100%;
        }
    }
}