<div class="login d-flex justify-content-end align-items-center">
    <form class="form" [formGroup]="user" >
        <h3>Login</h3>
        <div class="form-group">
            <label for="email">Username</label>
            <input formControlName="email"  class="username" class="form-control" type="text">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input formControlName="password" id="password" class="form-control" type="password">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input">
            <label for="">Check me out</label>
        </div>
        <span>{{this.report}}</span>
        <button (click)="Login()" class="btn btn-primary">Login</button>
        <a href="/register" class="d-flex justify-content-end">Register</a>
    </form>
</div>