<div class="detail">
    <div class="item-post">
        <div class="header d-flex justify-content-between">
            <div class="d-flex">
                <div class="image">
                    <img src="../../assets/0479f728630b134464327020f474ca45_tn.png" alt="">
                </div>
                <div>
                    <strong class="name">
                        {{detailpost.user.lastName +" "+ detailpost.user.firstName}}
                    </strong>
                    
                    <div class="time">
                        {{detailpost.time| date:'EE, dd/MM/yyy HH:mm'}}
                    </div>
                    
                </div>
            </div>
            <!-- <div class="icon">
                <i class="fa-solid fa-ellipsis"></i>
                
                <i class="fa-solid fa-xmark"></i>
            </div> -->
        </div>
        <div class="body">
            <!-- {{detailpost.title | uppercase}} -->
            <span [innerHTML]="detailpost.body"></span>
        </div>
        <div class="upload" *ngIf="detailpost.uploads.length==1  " >
            <div class="image-preview-one" *ngFor="let src of detailpost.uploads; let i=index" appAddDivAfterSixth [index]="i" [remainingCount]="remainingCount">
                <img [src]="src.image" alt="Image preview" data-toggle="modal" data-target="#ViewImageModal" (click)="CurrentImage(i,detailpost.uploads,detailpost)">
            </div>
        </div>
        <div class="upload" *ngIf="detailpost.uploads.length>=2 && detailpost.uploads.length<3  " >
            <div class="image-preview-two" *ngFor="let src of detailpost.uploads; let i=index" appAddDivAfterSixth [index]="i" [remainingCount]="remainingCount">
                <img [src]="src.image" alt="Image preview" data-toggle="modal" data-target="#ViewImageModal" (click)="CurrentImage(i,detailpost.uploads,detailpost)">
            </div>
        </div>
        <div class="upload" *ngIf="detailpost.uploads.length>=3 && detailpost.uploads.length<4  " >
            <div class="image-preview-three" *ngFor="let src of detailpost.uploads; let i=index" appAddDivAfterSixth [index]="i" [remainingCount]="remainingCount">
                <img [src]="src.image" alt="Image preview" data-toggle="modal" data-target="#ViewImageModal" (click)="CurrentImage(i,detailpost.uploads,detailpost)">
            </div>
        </div>
        <div class="upload" *ngIf="detailpost.uploads.length>=4 && detailpost.uploads.length<5  " >
            <div class="image-preview-four" *ngFor="let src of detailpost.uploads; let i=index" appAddDivAfterSixth [index]="i" [remainingCount]="remainingCount">
                <img [src]="src.image" alt="Image preview" data-toggle="modal" data-target="#ViewImageModal" (click)="CurrentImage(i,detailpost.uploads,detailpost)">
            </div>
        </div>
        <div class="upload" *ngIf="detailpost.uploads.length>=5 && detailpost.uploads.length<6  " >
            <div class="image-preview-five" *ngFor="let src of detailpost.uploads; let i=index" appAddDivAfterSixth [index]="i" [remainingCount]="remainingCount">
                <img [src]="src.image" alt="Image preview" data-toggle="modal" data-target="#ViewImageModal" (click)="CurrentImage(i,detailpost.uploads,detailpost)">
            </div>
        </div>
        <div class="upload" *ngIf="detailpost.uploads.length>6" >
            <div class="image-preview" *ngFor="let src of detailpost.uploads; let i=index" appAddDivAfterSixth [index]="i" [remainingCount]="remainingCount">
                <img [src]="src.image" alt="Image preview" data-toggle="modal" data-target="#ViewImageModal" (click)="CurrentImage(i,detailpost.uploads,detailpost)">
            </div>
        </div>
        <hr>
        <div class="interact d-flex justify-content-between">
            <div class="like">
                <i class="fa-solid fa-heart"></i>{{detailpost.like}}
            </div>
            <div class="comment">
                {{detailpost.cmt}}<i class="fa-solid fa-comment"></i>  0<i class="fa-solid fa-share"></i>
            </div>
        </div>
        <hr>
        <div class="footer d-flex justify-content-around w-100">
            <div appHover class="item flex-fill justify-content-center">
                <i class="fa-regular fa-thumbs-up"></i> Like
            </div>
            <div appHover class=" item flex-fill justify-content-center">
                <i class="fa-regular fa-comment"></i> Comment
            </div>
            <div appHover class="item flex-fill justify-content-center">
                <i class="fa-solid fa-share"></i> Share
            </div>
        </div>
        <hr>
        <div class="comment-list"  *ngIf="cmtpost.length>0 else template1"> 
            <div *ngFor="let cmt of cmtpost">
                <div class="d-flex item">
                    <div class="avatar">
                        <img src="../../assets/0479f728630b134464327020f474ca45_tn.png" alt="">
                    </div>
                    <div class="box">
                        <div class="name">
                            {{cmt.user?.lastName+" "+cmt.user?.firstName}}
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="body">
                                {{cmt.body}}
                            </div>
                            <div>
                                <div class="options">
                                    <i class="fa-solid fa-ellipsis"></i>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex footer">
                            <div>
                            {{cmt.timeSincePosted}}
                            </div>
                            <div class="like">
                                Like
                            </div>
                            <div class="reply">
                                Reply
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>
<ng-template #template1>
    Not comment here
</ng-template>