<div class="sidebar ">
    <div class="user item row">
        <div class="col-2 d-flex justify-content-center">
            <img src="../../assets/0479f728630b134464327020f474ca45_tn.png" alt=""> 
        </div>
        
        <div class="col-10 d-flex  align-items-center">
            {{userName}}
        </div>
        
    </div>
    <div class="item friends row">
        <div class="col-2 d-flex justify-content-center">
            <i class="fa-solid fa-users"></i>
        </div>
        
        <div class="col-10 title ">
            Friends
        </div>
    </div>
    <div class="item groups row">
        <div class="col-2 d-flex justify-content-center">
            <i class="fa-solid fa-users"></i>
        </div>
        
        <div class="col-10 title">
            Groups
        </div>
    </div>
    <div class="item video row">
        <div class="col-2 d-flex justify-content-center">
            <i class="fa-solid fa-users"></i>
        </div>
        
        <div class="col-10 title">
            Video
        </div>
    </div>
    <div class="item saved row">
        <div class="col-2 d-flex justify-content-center">
            <i class="fa-solid fa-users"></i>
        </div>
        
        <div class="col-10 title">
            Saved
        </div>
    </div>
</div>
