.item-post{
    width: 35rem;
    background-color: white;
    margin: 12px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    .header{
        height: auto;
        .image{
            margin-right: 5px;
            img{
                height: 3rem;
                border-radius: 50%;
                border: 1px solid #dddddd;
            }
        }
        .name{
            font-size: 15px;
        }
        .time{
            font-size: 13px;
            color: rgb(101, 103, 107);
        }
        .icon{
            i{
                margin: 0 5px;
                color: rgb(94, 93, 93);
                font-size: 20px;
            }
        }
    }
    .interact{
        .like{
            color: rgb(101, 103, 107);
            i{
                color: red;
                margin-right: 3px;
                
            }
        }
        .comment{
            color: rgb(101, 103, 107);
            i{
                color: rgb(83, 83, 83);
                margin:0 3px;
                
            }
        }    
    }
    hr{
        margin: 0.5rem 0;
    }
    .upload {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        height: 440px;
        .image-preview-one{
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border: 1px solid white;
            }
        }
        .image-preview-two{
            position: relative;
            width: 50%;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border: 1px solid white;
            }
        }
        .image-preview-three{
            &:nth-child(1){
               width: 100%;
               height: 60%;
               overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border: 1px solid white;
            } 
            }
            &:nth-child(2), &:nth-child(3){
                width: 50%;
                height: 40%;
                overflow: hidden;
             img {
                 width: 100%;
                 height: 100%;
                 object-fit: cover;
                 border: 1px solid white;
             } 
             }
            
        }
        .image-preview-four{
            width: 50%;
            height: 50%;
            overflow: hidden;
         img {
             width: 100%;
             height: 100%;
             object-fit: cover;
             border: 1px solid white;
         } 
        }
        .image-preview-five{
            &:nth-child(1), &:nth-child(2){
               width: 49.5%;
               height: 60%;
               overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border: 1px solid white;
            } 
            }
            &:nth-child(3), &:nth-child(4), &:nth-child(5){
                width: 33%;
                height: 40%;
                overflow: hidden;
             img {
                 width: 100%;
                 height: 100%;
                 object-fit: cover;
                 border: 1px solid white;
             } 
             }
            
        }
        .image-preview {
            position: relative;
            width: 33%;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border: 1px solid white;
            }
        }

        .image-preview:nth-child(n+6) {
            position: absolute;
            left: 0;
            top: 50%;
            margin-left: calc(66%);
            background-color: red;
            img{
                height: 220px;
            }
        }

        .image-preview.overlay::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            /* Màu sắc của overlay với độ trong suốt */
            pointer-events: none;
            /* Đảm bảo overlay không ảnh hưởng đến sự tương tác với ảnh */
        }
        .image-preview .overlay-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            font-size: 24px;
            font-weight: 500;
        }
    }
    .footer{
        text-align: center;
        .item{
            padding: 3px;
            border-radius: 3px;
        }
        .item:hover{
            cursor: pointer;
        }
    }
}
.modal-footer{
    justify-content: flex-start;
    .image{
        margin-right: 5px;
        img{
            height: 2rem;
            border-radius: 50%;
            border: 1px solid #dddddd;
        }
    }
    .input{
        flex: 1;
        position: relative;
        .input-comment{
            background-color: #d1d1d15c;
            border-radius: 5px;
            border: none;
            height: 2rem;
            width: 100%;
            padding: 15px 10px;
            
        }
        button{
            position: absolute;
            right: 5px;
            top: 2px;
            border: none;
            background-color: none;
            color: #656565;
        }
    }
    
}