<app-header></app-header>
<div class="container-fluid content" >
    <div class="row mt-60">
        <div class="col-lg-3  d-none d-lg-block " style="padding: 0;">

            <app-sidebar></app-sidebar>
        </div>
        <div class="col-lg-6 col-md-8 col-sm-12 d-flex justify-content-center content-outlet" style="height: auto;">

            <router-outlet></router-outlet>
            
        </div>
        <div class="col-lg-3 col-md-4 d-md-block d-none d-md-flex justify-content-end ">
            <app-listchat></app-listchat>
        </div>
    </div>
</div>
