<div>
    
</div>

<div class="row">
    <div class="col-md-11">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Using Ckeditor in Angular</h5>
                <div>
                    <ckeditor [(ngModel)]="post" [editor]="Editor" (ready)="onReady($event)" ></ckeditor>
                    <button (click)="CreatePost()" class="btn btn-success">Create</button>
                </div>
 
            </div>
 
        </div>
    </div>
    <div class="col-md-11">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Display value</h5>
                
            </div>
        </div>
    </div>
</div>
