<div class="login d-flex justify-content-end align-items-center">
    <form class="form" [formGroup]="user">
        <h3>Register</h3>
        <div class="form-row">
            <div class="col">
                <label for="">First Name</label>
                <input formControlName="firstName" type="text" class="form-control">
            </div>
            <div class="col">
                <label for="">Last Name</label>
                <input formControlName="lastName" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="">Email</label>
            <input formControlName="email" class="form-control" type="text">
        </div>
        <div class="form-group">
            <label for="">Password</label>
            <input formControlName="password" class="form-control" type="password">
        </div>
        <div class="form-group">
            <label for="">Confirm your password</label>
            <input formControlName="confirmPassword" class="form-control" type="password">
        </div>

        <button (click)="Register()" class="btn btn-primary">Register</button>
        <a href="/login" class="d-flex justify-content-end">Have a account</a>
    </form>

</div>